In [1]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [2]:
import pandas as pd

# Load dataset
df = pd.read_csv("/content/drive/MyDrive/ML_Project/MultinomialClassification/Dataset/train.csv")   # change path if needed

# Count nulls in each column
null_counts = df.isnull().sum()

print("===== NULL VALUES IN EACH COLUMN =====")
print(null_counts)

# Also show total nulls in the entire dataframe
print("\nTotal null values in Training Dataset:", df.isnull().sum().sum())

===== NULL VALUES IN EACH COLUMN =====
trip_id                           0
country                         230
age_group                         8
travel_companions               737
num_females                       2
num_males                         4
main_activity                   128
visit_purpose                     0
is_first_visit                   99
mainland_stay_nights              0
island_stay_nights                0
tour_type                         0
intl_transport_included         147
info_source                       0
accomodation_included           143
food_included                   171
domestic_transport_included       0
sightseeing_included              0
guide_included                    0
insurance_included              236
days_booked_before_trip        1553
arrival_weather                3403
total_trip_days                 402
has_special_requirements       8117
spend_category                   34
dtype: int64

Total null values in dataset: 15414